{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Welcome to BuddingTree</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="{% static 'css/styler.css' %}"/>
    </head>

    <body>
        <div class="container">
            <nav class="navbar-space-align">

                <a class="btn btn-link text-dark my-auto d-desktop">
                     <span class="my-auto postion-relative" style="top: -2px">
                         <i data-feather="lock"></i>
                     </span>
                    <span class="my-auto font-weight-normal"><a href="{% url 'registration' %}">Ro'yhatdan o'tish</a></span>
                     <i class="fas fa-arrow-right my-auto pl-2"></i>
                </a>

                <a class="btn btn-link text-dark my-auto d-mobile">
                    <span class="my-auto postion-relative" style="top: -2px">
                        <i data-feather="lock"></i>
                    </span>
               </a>
            </nav>

            <section class="landing-container">

                <article class="w-50 pl-4" id="right-container">
                    <h3 class="mb-4 font-weight-normal">Kirish</h3>
                     <form>
                         <div class="d-flex">
                             <div class="w-50 mr-2">
                                <input type="text" class="w-100 border" name="firstName" placeholder="Your first name..">
                                <small data-validator="username" class="text-danger d-none">
                                    Not a valid first name
                                </small>
                             </div>
                            <div class="w-50 mr-2">
                                <input type="password" class="w-100 mr-2 border" name="password" placeholder="Password..">
                                <small data-validator="password" class="text-danger d-none">
                                    Not a valid password
                                </small>
                             </div>
                         </div>
                         <div>
                            <input type="email" name="email" class="w-100 border" placeholder="Your email address..">
                            <small data-validator="email" class="text-danger d-none">
                                Not a valid email
                            </small>
                         </div>
                         <button type="button" onclick="validateRegistration()" class="btn bg-theme-secondary w-100 border-0 text-white my-4">
                             kirish
                         </button>
                     </form>

                     <div class="d-flex justify-content-center my-1">
                         <div class="w-100 d-flex justify-content-around">
                             <hr class="my-auto w-30 desktop-only border-secondary">
                             <h5 class="my-auto w-40 text-center font-weight-light">Yoki ro'yhatdan o'tish</h5>
                             <hr class="my-auto w-30 desktop-only border-secondary">
                         </div>
                     </div>

                     <div class="d-md-flex justify-content-center text-center my-4">
                         <button type="button" class="btn btn-white boder-theme-secondary my-auto d-inline-flex mx-2">
                             <img alt="" class="mr-1 my-auto" src="assets/images/google-logo.png" width="25">
                             <span class="my-auto font-weight-normal">
                                 Google bilan davom eting
                             </span>
                         </button>
                     </div>
                 </article>
            </section>


        </div>

       <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
       <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
       <script src="assets/js/index.js"></script>
       <script>
            feather.replace()
      </script>
    </body>
</html>
